on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice

    export ANDROID_ROOT /system_root

    setprop ro.board.platform msm8952
    setprop sys.usb.ffs.aio_compat 1

service sbinqseecomd /sbin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted
    start sbinqseecomd
